body {
    background-color: gray;
}

.title {
    text-align: center;
}

.recipes {
    background-color: lightgray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2, p, ul, ol {
    background-color: lightgray;
}
